RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^verve-vit.com$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
